<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=0.8,maximum-scale=1.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/nhs.css">
    <title>NEW...</title>
</head>
<body>
    <div class="nhs-version-heart">
        <!-- 顶部 -->
        <div class="top-chose">
            <div class="chose-item" id="chose-div">
                <a class="a-item" href="#" id="new-btn">NEW</a>
                <a class="a-item" href="#" id="hot-btn">HOT</a>
                <a class="a-item" href="#" id="show-btn">SHOW</a>
            </div>      
        </div>
        <!-- 顶部 -->
        <!-- 内容 -->
        <div class="sel-content">
            <div id="new-content">
                <div class="every-item sel-content-new">
                    <div class="every-item-text text-new">
                        <i></i>
                        <h3>猫的名字</h3>
                        <h4>价格:2000</h4>
                        <p>详细描述:</p>
                        <p>萨达阿四大时代萨丢斯啊发射点十分的打死大四手动阀手动阀手动阀撒大苏打</p>
                    </div>
                    <a href="#" class="new-a">
                        <img src="../resources/image/cat2.jpg" alt="">
                    </a>
                </div>
            </div>
            
            <div id="hot-content">
                <div class="every-item sel-content-hot">
                    <div class="every-item-text text-hot" >
                        <i></i>
                        <h3>狗的名字</h3>
                        <h4>价格:3000</h4>
                        <p>详细描述:</p>
                        <p>萨达阿四大时代萨丢斯啊发射点十法国梵蒂冈的分的撒大苏打</p>
                    </div>
                    <a href="#" class="hot-a">
                        <img src="../resources/image/cat3.jpg" alt="">
                    </a>
                </div>
            </div>

            <div id="show-content">
                <div class="every-item sel-content-show"> 
                    <div class="every-item-text text-show">
                        <i></i>
                        <h3>猫x的名字</h3>
                        <h4>价格:4000</h4>
                        <p>详细描述:</p>
                        <p>萨达阿四大时代萨丢斯啊发射点十分的撒大苏打</p>
                    </div>
                    <a href="#" class="show-a">
                        <img src="../resources/image/cattt.jpg" alt="">
                    </a>
                </div>
            </div>





        </div>
       
        <!-- 内容 -->





    </div>

    <script type="text/javascript" src="../resources/js/nhs.js"></script>
</body>
</html>