<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=0.8,maximum-scale=1.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/register.css">
    <title>注册</title>
</head>
<body>
    <div class="register-version-heart">
         <div class="register-page">
             <div class="register-page-content">
                 <div class="a-space"></div>
                 <div class="register-image-before">
                     <i></i>
                     <h3>注册</h3>
                 </div>
                 <div class="register-message">
                     <div class="register-message-content" id="user-content">
                        <div class="register-item">
                            <h3>昵称</h3>
                            <input type="text">
                        </div>
                        <div class="register-item">
                            <h3>手机号码</h3>
                            <input type="text">
                        </div>
                        <div class="register-item">
                            <h3>密码</h3>
                            <input type="text">
                        </div>
                        <div class="register-item">
                            <h3>再次输入密码</h3>
                            <input type="text">
                        </div>
                     </div>
                    
                    <!-- 是否开店 -->
                    <div class="whether-open-shop">
                        <h3>是否开店<i class="open-shop-unsel" id="chose-btn"></i></h3>
                    </div>
                    <!-- 是否开店 -->
                    <div class="register-btn">
                        <a class="register-btn-a" href="#">注册</a>
                    </div>
                 </div>
                 <div class="register-image-after"></div>
             </div>
         </div>
    </div>
    <script src="../resources/js/open-shop.js"></script>
</body>
</html>