<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=0.8,maximum-scale=1.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/seller.css">   
    <title>成为商家</title>
</head>
<body>
    <div class="seller-version-heart">
        <div class="seller-page">
            <div class="seller-page-content">
                <div class="a-space"></div>
                <div class="seller-text">
                    <h3>成为商家</h3>
                </div>
                <div class="seller-message">
                    <!-- 开店 -->
                    <div class="open-shop" id="open-shop">
                        <div class="open-shop-item">
                            <h3>真实姓名</h3>
                            <input type="text">
                        </div>
                        <div class="open-shop-item">
                            <h3>商铺名</h3>
                            <input type="text">
                        </div>
                        <div class="open-shop-item">
                            <h3>商铺电话</h3>
                            <input type="text">
                        </div>
                        <div class="open-shop-item">
                            <h3>商铺地址</h3>
                            <input type="text">
                        </div>
                        <div class="open-shop-image">
                            <h3>商铺图标:</h3>
                            <img src="" alt="">
                            <div class="chose-image">
                                <div class="chose-image-btn">
                                    <h3>选择图片</h3>
                                    <input type="file" value="选择图片">
                                </div>
                            </div>
                        </div>
                        <div class="open-shop-image">
                            <h3>经营许可证:</h3>
                            <img src="" alt="">
                            <div class="chose-image">
                                <div class="chose-image-btn">
                                    <h3>选择图片</h3>
                                    <input type="file" value="选择图片">
                                </div>
                            </div>
                        </div>
                        <h3>详细描述</h3>
                        <div class="open-shop-detail">
                            <textarea></textarea>
                        </div>
                    </div>
                    <!-- 开店 -->
                    <div class="become-btn">
                        <a class="become-btn-a" href="#">成为商家</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>