<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=0.8,maximum-scale=1.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/universal.css">
    <title>通用</title>
</head>
<body>
    <div class=".universal-version-heart">
        <!-- 技巧的 -->
        <div class="uni-all-content" id="jiqiao">
            <div class="uni-nav">
                <a class="back-container" href="home.html"></a>
                <div class="nav-title jq">
                    <h3>技巧<i></i></h3>
                </div>
            </div>
            <div class="uni-body">
                <div class="uni-content-item">
                    <div class="uni-text">
                        <h3>北京市东城区永定门二环路酬谢三千元寻找土狗</h3>
                        <div class="uni-text-bottom">
                            <h3>2018-07-22</h3>
                            <h3>哈士奇</h3>
                        </div>
                    </div>
                    <div class="uni-image">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 技巧的 -->
        <!-- 新闻的 -->
        <div class="uni-all-content" id="xinwen">
            <div class="uni-nav">
                <a class="back-container" href="home.html"></a>
                <div class="nav-title xw">
                    <h3>新闻<i></i></h3>
                </div>
            </div>
            <div class="uni-body">
                <div class="uni-content-item">
                    <div class="uni-text">
                        <h3>北京市东城区永定门二环路酬谢三千元寻找土狗</h3>
                        <div class="uni-text-bottom">
                            <h3>2018-07-22</h3>
                            <h3>哈士奇</h3>
                        </div>
                    </div>
                    <div class="uni-image">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 新闻的 -->
        <!-- 杂谈的 -->
        <div class="uni-all-content" id="zatan">
            <div class="uni-nav">
                <a class="back-container" href="home.html"></a>
                <div class="nav-title zt">
                    <h3>杂谈<i></i></h3>
                </div>
            </div>
            <div class="uni-body">
                <div class="uni-content-item">
                    <div class="uni-text">
                        <h3>北京市东城区永定门二环路酬谢三千元寻找土狗</h3>
                        <div class="uni-text-bottom">
                            <h3>2018-07-22</h3>
                            <h3>哈士奇</h3>
                        </div>
                    </div>
                    <div class="uni-image">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 杂谈的 -->
    </div>
    <script src="../resources/js/uni.js"></script>
</body>
</html>