/* 版心 */
.encyclopedia-version-heart{
    width: 412px;
    margin: 0 auto;
    background-color: rgba(245, 230, 166, 0.418);
    padding-bottom: 1px;
    /* height: 732px; */
}
/* 版心 */

/* 头部导航 */
.encyclopedia-nav{
    height: 50px;
    background-image: linear-gradient(135deg,rgba(250, 90, 90, 0.7),rgba(250, 90, 90, 0.3));
}
.encyclopedia-to-home{
    width: 8%;
    height: 30px;
    margin: 10px;
    float: left;
}
.encyclopedia-to-home a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.encyclopedia-nav h3{
    float: left;
    margin: 10px 0;
    font-size: 2em;
    line-height: 30px;
}
/* 头部导航 */

/* 一张图片 */
.encyclopedia-image{
    height: 150px;
    background-image: url(../image/center0.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: -78px 0;
    margin:5px;
    border: 2px dashed #fff;
}
/* 一张图片 */

/* 宠物类型筛选 */
.pet-type-screening{
    padding: 0 2%;
}
.pet-type-screening h3{
    padding: 2% 0; 
    text-align: center;
    color: brown;
    font-size: 1.8em;
}
.pet-type-screening h3 i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../image/eye.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 5px;
    right: 3px;
}
.pet-screen-item{
    margin: 5px 0;
    height: 30px;
    background-image: linear-gradient(135deg,rgba(236, 63, 63,0.9),rgba(250, 90, 90, 0.3));
    position: relative;
}
.screen-type-declaration{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    text-align: center;
    padding-top: 8px;

}
.screen-all-chose{
    padding-left: 60px;
    height: 100%;
    display: flex;
}
.screen-chose{
    flex:1;
    background-color:rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
}
/* 宠物类型筛选 */
/* 展示 */
.encyclopedia-show{
    margin: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
}
.encyclopedia-show-item{
    display: flex;
    height: 120px;
}
.show-item-image{
    flex:2;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
}
.show-item-image-content{
    width:100%;
    height: 100%;
    border-radius: 5px;
    background-image: url(../image/cat-cart.png);
    background-size: contain;
    border: 1px dashed rgb(184, 184, 184);
}
.show-item-text{
    flex: 5;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}
.show-item-text-content{
    width:100%;
    height: 100%;
    border-radius: 5px;
    color: rgb(97, 96, 96); 
    position: relative;
    border: 1px dashed rgb(184, 184, 184);
}
.show-item-text-content h3{
    padding-top: 5px;
    text-align: center;
}
.show-item-text-content b{
    display: inline-block;
    padding-top: 5px;
    padding-left: 30px;
    font-weight: 600;
}
.show-item-text-content p{
    padding-top: 10px;
    text-indent: 2em;
    position: absolute;
    
}
/* 展示 */